// Colours
$color-primary-light:#2998ff;
$color-primary-dark: #456195;

$background-color: #eee;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

// Social colors
$color-social-default: #191919;
$color-facebook:#3B5998;
$color-youtube: #bb0000;
$color-instagram: #55ACEE;
$color-spotify: #81b71a;

// Font Sizes 
$default-font-size: 1rem;