.popup {
    display: none; 
    position: fixed; 
    z-index: 1005; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0,0,0,0.8);
    
    &__design {
        width: 75%;
        height: 75%;
        margin-top: 6rem;

        @include respond(tab-land) {
            height: 65%;
        }

        @include respond(tab-port) {
            height: 45%;
        }

        @include respond(phone) {
            height: 65%;
        }

        @include respond(small-phone) {
            height: 75%;
        }

    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #fff;

        @include respond(tab-port) {
            display: block;
        }
    }

    &__left {
        background-image: url(../../img/img-5.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        position: relative;
        width: 100%;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__right {
        width: 100%;
        margin-left: 1rem;

        @include respond(tab-port) {
            margin-left: 4rem;
        }

        @include respond(phone) {
            margin-left: 2rem;
        }

        @include respond(small-phone) {
            margin-left: 1.25rem;
        }
    }

    &__close {
        color: $color-grey-dark-3;
        float: right;
        font-size: 3.2rem;
        font-weight: bold;
        margin-right: 2rem;

        @include respond(tab-port) {
            margin-right: 5rem;
        }

        @include respond(phone) {
            margin-right: 2.5rem;
        }

        @include respond(small-phone) {
            margin-right: 2rem;
            font-size: 2.4rem;
        }

        &:hover,
        &:focus {
            color: $color-primary-dark;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__button {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    & p {
        @include respond(big-desktop) {
            font-size: 1.2rem;
        }

        @include respond(tab-land) {
            font-size: .9rem;
        }

        @include respond(small-phone) {
            font-size: .8rem;
        }
    }
}