.video {
    margin-bottom: 6rem;

    &__title {
        text-align: center;
    }

    &__youtube {
        text-align: center;
        margin-top: 4rem;

        @include respond(tab-port) {
            margin-top: 3rem;
        }

        @include respond(phone) {
            margin-top: 2rem;
        }
        
        &--size {
            width: 100%;
            height: 75vh;

            @include respond(tab-port) {
                height: 65vh;
            }

            @include respond(phone) {
                height: 50vh;
            }

            @include respond(small-phone) {
                height: 45vh;
            }
        }
    }
}